<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - SmartShopper</title>
    <link rel="stylesheet" href="css/loginstyle.css">

    <script>
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has('valid')){
            const paramValue = urlParams.get('valid');
            if (paramValue && paramValue == "false") {
                alert(`Login Failed! Username or Password Incorrect...!`);
            }
        }
    </script>
</head>
<body>
    <div class="login-container">
        <div class="logo">
            <h2>SHENORA</h2>
        </div>
        <div class="login-box">
            <h3>Sign In</h3>
            <form action="/user/login" method="POST">
                <input type="text" id="username" name="username" placeholder="username" required>
                <input type="password" id="password" name="password" placeholder="password" required>
                <button class="btn-black" type="submit">Continue </button>
            </form>
            <div class="login-section"></div>
                <p><a href="/signup">Sign Up</a></p>
            </div>
            <p class="terms">
                By continuing, you agree to our 
                <a href="#">Privacy & Cookie Policy</a> and 
                <a href="#">Terms & Conditions</a>.
            </p>
        </div>
    </div>
</body>
</html>
