<!DOCTYPE html>
<html lang="en">
{{!-- after cliking pay with card button this page should be navigated! --}}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Order Complete</title>
</head>

<body>
  <div class="container-fluid " style="align:">
    <div class="h-100 d-flex align-items-center justify-content-center">
      <div>
        <h1>Your Order Confirmed</h1>
        <a href="/products/shop">Shop More</a>
      </div>
      <img style="width: 500px;" src="/views/products/images/completed.jpg" />
    </div>
  </div>

</body>

</html>