<!DOCTYPE html>
<html lang="en">
{{!-- after cliking pay with card button this page should be navigated!  --}}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Order Complete</title>
</head>

<body>
<div>Hello</div>
</body>

</html>