<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Shenora</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">


    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">
    <link rel="stylesheet" href="../../css/Cartstyle.css">
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../../css/shop.css" rel="stylesheet">

    <script>
        function logout(){
            document.cookie = 'id=; Max-Age=0'
        }
    </script>
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid">

        <div class="row align-items-center py-3 px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a href="" class="text-decoration-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">S</span>Shenora</h1>
                </a>
            </div>

            <div class="col-lg-6 col-6 text-left">
                <form action="/products/shop" method="GET">
                    <div class="input-group">
                        <input name="keysearch" type="text" class="form-control" placeholder="Search for products">
                        <div class="input-group-append">
                            <span class="input-group-text bg-transparent text-primary">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-lg-3 col-6 text-right">
                <a href="/Cart" class="btn border">
                    <i class="fas fa-shopping-cart text-primary"></i>
                </a>
                <a href="/user/userinfo" class="btn border">
                    <i class="fas fa-user text-primary"></i>
                </a>
                <a href="/login" onclick="logout()" class="btn border">Logout</a>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid mb-5">
        <div class="row border-top px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                    <h6 class="m-0">Categories</h6>
                    <i class="fa fa-angle-down text-dark"></i>
                </a>
                <nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0" id="navbar-vertical">
                    <div class="navbar-nav w-100 overflow-hidden" style="height: 410px">
                        <a href="shop" class="nav-item nav-link">All</a>
                        <a href="shop?type=Women" class="nav-item nav-link">Women</a>
                        <a href="shop?type=Men" class="nav-item nav-link">Men</a>
                        <a href="shop?type=Sleep" class="nav-item nav-link">Sleep Wear</a>
                        <a href="shop?type=Sport" class="nav-item nav-link">Sport Wear</a>
                        <a href="shop?type=Shoes" class="nav-item nav-link">Shoes</a>
                        <a href="shop?type=Beach" class="nav-item nav-link">Beach Wear</a>
                        <a href="shop?type=Jewelery" class="nav-item nav-link">Jewelery and Accessories</a>
                        <a href="shop?type=Kids" class="nav-item nav-link">Kids</a>
                    </div>
                </nav>
            </div>

            <div class="col-lg-9">
                <!---->
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                    <a href="" class="text-decoration-none d-block d-lg-none">
                        <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper</h1>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </nav>

                <div id="header-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" style="height: 410px;">
                            <img class="img-fluid" src="../../images/fasionImage.jpg" alt="Image">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h4 class="text-light text-uppercase font-weight-medium mb-3">10% Off Your First Order</h4>
                                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">Fashionable Dress</h3>
                                    <!-- <a href="" class="btn btn-light py-2 px-3">Shop Now</a> -->
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" style="height: 410px;">
                            <img class="img-fluid" src="../../images/accessories.jpg" alt="Image">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h4 class="text-light text-uppercase font-weight-medium mb-3">10% Off Your First Order</h4>
                                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">Reasonable Price for all kind of Accessories</h3>
                                    <!-- <a href="" class="btn btn-light py-2 px-3">Shop Now</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                        <div class="btn btn-dark" style="width: 45px; height: 45px;">
                            <span class="carousel-control-prev-icon mb-n2"></span>
                        </div>
                    </a>
                    <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                        <div class="btn btn-dark" style="width: 45px; height: 45px;">
                            <span class="carousel-control-next-icon mb-n2"></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar End -->


    <!-- Featured Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5 pb-3">
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                    <h5 class="font-weight-semi-bold m-0">Shipping Discount</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">14-Day Return</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Featured End -->

    <!-- Offer Start -->
    <div class="container-fluid offer pt-5">
        <div class="row px-xl-5">
            <div class="col-md-6 pb-4">
                <div class="position-relative bg-secondary text-center text-md-right text-white mb-2 py-5 px-5">
                    <img src="img/offer-1.png" alt="">
                    <div class="position-relative" style="z-index: 1;">
                        <h5 class="text-uppercase text-primary mb-3">20% off the all order</h5>
                        <h1 class="mb-4 font-weight-semi-bold">Spring Collection</h1>
                       <!-- <a href="" class="btn btn-outline-primary py-md-2 px-md-3">Shop Now</a>-->
                    </div>
                </div>
            </div>
            <div class="col-md-6 pb-4">
                <div class="position-relative bg-secondary text-center text-md-left text-white mb-2 py-5 px-5">
                    <img src="img/offer-2.png" alt="">
                    <div class="position-relative" style="z-index: 1;">
                        <h5 class="text-uppercase text-primary mb-3">20% off the all order</h5>
                        <h1 class="mb-4 font-weight-semi-bold">Winter Collection</h1>
                        <!--<a href="" class="btn btn-outline-primary py-md-2 px-md-3">Shop Now</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Offer End -->


    <!-- Products Start -->
    <div class="container-fluid pt-5">
        <!--
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Trandy Products</span></h2>
        </div>
    -->
        <div class="row px-xl-5 pb-3">
           {{#each products}}
        
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="card product-item border-0 mb-4">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                        <img class="img-fluid w-100" src="../../uploads/{{this.image}}" alt="">
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3">{{this.title}}</h6>
                        <div class="d-flex justify-content-center">
                            <h6>${{this.price}}</h6><h6 class="text-muted ml-2"></h6>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light border">
                        <!-- Add to Cart Start -->
                        <a href="javascript:void(0);" class="btn btn-sm text-dark p-0" onclick="addToCart('{{this._id}}')"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                        <!-- Add to Cart End -->

                    </div>
                </div>
            </div>
            {{/each}}
            
        </div>
    </div>
    <!-- Products End -->
    
    <!-- Start Add to Cart function -->
    <script>
        // Function to handle adding a product to the cart
        function addToCart(productId) {
            
            // Use the Fetch API 
            fetch('/cart/add', {
                method: 'POST', 
                headers: {
                    'Content-Type': 'application/json' 
                },
                body: JSON.stringify({ productId: productId }) 
            })
            .then(response => response.json()) 
            .then(data => {
                // Check if the request was successful
                if (data.success) {
                    
                    alert("Product added to cart successfully!");
                    
                
                    window.location.href = '/Cart';
                } else {
                    
                    alert("Failed to add product to cart.");
                }
            })
            .catch(error => {
                // Log any errors that occur during the fetch request
                console.error('Error:', error);
            });
        }
    </script>
    <!-- End Add to Cart function -->

    <!-- Subscribe Start -->
    <div class="container-fluid bg-secondary my-5">
        <div class="row justify-content-md-center py-5 px-xl-5">
            <div class="col-md-6 col-12 py-5">
                <div class="text-center mb-2 pb-2">
                    <h2 class="section-title px-5 mb-3"><span class="bg-secondary px-2">Stay Updated</span></h2>
                    <p>you will get the new arrivales notifications and hot details..  check them out TODAY!</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Subscribe End -->



    <!-- Footer Start -->
    <footer>
    <div class="footer-container">
      <!-- Footer left section: Contact information -->
      <div class="footer-left">
        <div class="footer-contact">
          <h4>Contact Us</h4>
          <p>Shenora Online Shopping Assistant</p>
          <p>123 Main Street, Melbourne, Australia</p>
          <p>Email: info@shenora.com</p>
          <p>Phone: 011 12345678</p>
        </div>
      </div>

      <!-- Footer center section: Information links -->
      <div class="footer-center">
        <h4>Info</h4>
        <ul>
          <li><a href="#">Terms and Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>

      <!-- Footer right section: Newsletter signup -->
      <div class="footer-right">
        <h4>Newsletter</h4>
        <p>Enter your email address to receive the latest updates and offers.</p>
        <div class="newsletter-signup">
          <input type="email" placeholder="name@domain.com">
          <button class="subscribe-button">Subscribe</button>
        </div>
      </div>
    </div>

    <!-- Footer bottom section: Copyright information -->
    <div class="footer-bottom">
      <p>&copy; 2024 Shenora. All rights reserved.</p>
    </div>
  </footer>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>